<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>LookAround</string>
    <key>CFBundleDisplayName</key>
    <string>LookAround</string>
    <key>CFBundleIdentifier</key>
    <string>com.lookaround.app</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleExecutable</key>
    <string>LookAround</string>
    <key>CFBundleIconFile</key>
    <string>LookAround</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>NSCalendarsUsageDescription</key>
    <string>LookAround pauses breaks while a calendar event is ongoing.</string>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>LookAround pauses breaks while a calendar event is ongoing.</string>
</dict>
</plist>
